.grid{
  display: grid;
  grid-template-columns: 40% 40%;
  flex-wrap: wrap;
}

.flex{
  padding: 1em;
  text-align: center;
  img{
    width: 10%;
  }
}

.sticky-text {
  color: #000000;
  background-color: #bd650066;
  padding: 6px 6px;
  border: 0.5mm solid;
  border-color: #6c7272;
  border-radius: 15px;
  float: inline-end;
  margin-right: 5%;
}

nav{
  background-color: #c9c9c9;
  display: inline-block;
  width: 80%;
  left: 10%;
  position: sticky;
  top: 0;
  right: 0;
  font-variant: small-caps;
  font-size: medium;
  font-weight: bolder;
  text-decoration: none;
}

footer{
  font-size: 50%;
  background-color: #e3e3e3; 
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
  background-color: #c9c9c9;
  border-radius: 15px;
  header, main{
    background-color: #ffffff;
    nav a{
      text-decoration: none;
      font-variant: small-caps;
      font-size: medium;
      font-weight: bold;
      background-color: #ffffff;
      color: #082b4a;
      border: 0.5mm solid #082b4a;
      border-radius: 20px;
      padding: 5px 5px;
    }
    p a{
      color: #bd6500;
    }
    h1{
      text-align: match-parent;
    }
  }
}

p{
  line-height: 110%;
  padding:2%;
}

li{
  display: inline-grid;
  width: auto;
}

